body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

header {
  background-color: #c78c1f;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  margin: 20px;
  text-align: center;
}
